USE [Cyber_net]
GO
/****** Object:Table [dbo].[Chinhanh]Script Date: 5/21/2021 2:00:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Chinhanh](
	[Id] [int] NOT NULL,
	[Chinhanh] [nvarchar](255) NOT NULL,
	[Id_district] [int] NOT NULL,
 CONSTRAINT [chinhanh_pk] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:Table [dbo].[Chitiet_hoadon]Script Date: 5/21/2021 2:00:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Chitiet_hoadon](
	[Id_thucan] [int] NOT NULL,
	[Id_hoadon] [int] NOT NULL,
	[Count] [int] NOT NULL,
	[Total] [int] NOT NULL,
 CONSTRAINT [chitiet_hoadon_pk] PRIMARY KEY CLUSTERED 
(
	[Id_thucan] ASC,
	[Id_hoadon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:Table [dbo].[District]Script Date: 5/21/2021 2:00:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[District](
	[Id] [int] NOT NULL,
	[District] [nvarchar](255) NOT NULL,
 CONSTRAINT [district_pk] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:Table [dbo].[Hoadon]Script Date: 5/21/2021 2:00:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Hoadon](
	[Id] [int] NOT NULL,
	[Date] [datetime] NOT NULL,
	[Id_khachhang] [int] NOT NULL,
	[Id_nhanvien] [int] NOT NULL,
	[Time_use] [int] NOT NULL,
	[Fee] [int] NOT NULL,
	[Extra_fee] [int] NOT NULL,
	[Description] [char](255) NOT NULL,
	[Total] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:Table [dbo].[Hoadon_thucan]Script Date: 5/21/2021 2:00:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Hoadon_thucan](
	[Id] [int] NOT NULL,
	[Date] [datetime] NOT NULL,
	[Id_khachhang] [int] NOT NULL,
	[Id_nhanvien] [int] NOT NULL,
	[Total] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:Table [dbo].[Khachhang]Script Date: 5/21/2021 2:00:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Khachhang](
	[Id] [int] NOT NULL,
	[Name] [nvarchar](255) NOT NULL,
	[Password] [char](50) NOT NULL,
	[Phone] [char](11) NOT NULL,
	[Id_maytinh] [int] NOT NULL,
	[Id_phongmay] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:Table [dbo].[Maytinh]Script Date: 5/21/2021 2:00:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Maytinh](
	[Id] [int] NOT NULL,
	[Status] [char](30) NOT NULL,
	[Time_use] [int] NOT NULL,
	[Id_Phongmay] [int] NOT NULL,
 CONSTRAINT [maytinh_pk] PRIMARY KEY CLUSTERED 
(
	[Id] ASC,
	[Id_Phongmay] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:Table [dbo].[Nhanvien]Script Date: 5/21/2021 2:00:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Nhanvien](
	[Id] [int] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Id_Manager] [int] NOT NULL,
	[Gender] [nchar](10) NOT NULL,
	[Address] [nvarchar](255) NOT NULL,
	[Id_chinhanh] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:Table [dbo].[Phongmay]Script Date: 5/21/2021 2:00:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Phongmay](
	[Id] [int] NOT NULL,
	[Typed] [nvarchar](50) NOT NULL,
	[Count] [int] NOT NULL,
	[Id_chinhanh] [int] NOT NULL,
 CONSTRAINT [phongmay_pk] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:Table [dbo].[Thucan]Script Date: 5/21/2021 2:00:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Thucan](
	[Id] [int] NOT NULL,
	[Name] [nvarchar](255) NOT NULL,
	[Price] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Chinhanh] ([Id], [Chinhanh], [Id_district]) VALUES (1, N'Pham Van Dong', 1)
INSERT [dbo].[Chinhanh] ([Id], [Chinhanh], [Id_district]) VALUES (2, N'Hoang Dieu', 2)
INSERT [dbo].[Chinhanh] ([Id], [Chinhanh], [Id_district]) VALUES (3, N'Quang Trung', 3)
GO
INSERT [dbo].[Chitiet_hoadon] ([Id_thucan], [Id_hoadon], [Count], [Total]) VALUES (1, 12, 5, 95000)
INSERT [dbo].[Chitiet_hoadon] ([Id_thucan], [Id_hoadon], [Count], [Total]) VALUES (1, 18, 8, 152000)
INSERT [dbo].[Chitiet_hoadon] ([Id_thucan], [Id_hoadon], [Count], [Total]) VALUES (1, 58, 4, 76000)
GO
INSERT [dbo].[District] ([Id], [District]) VALUES (1, N'Thu Duc')
INSERT [dbo].[District] ([Id], [District]) VALUES (2, N'Go Vap')
INSERT [dbo].[District] ([Id], [District]) VALUES (3, N'Binh Thanh')
GO
INSERT[dbo].[Hoadon]([Id],[Date],[Id_khachhang],[Id_nhanvien],[Time_use],[Fee],[Extra_fee],[Description],[Total])VALUES(1,CAST(N'2021-05-30T13:21:59.190'ASDateTime),727,11,638,127000,0,N'',127000)
INSERT[dbo].[Hoadon]([Id],[Date],[Id_khachhang],[Id_nhanvien],[Time_use],[Fee],[Extra_fee],[Description],[Total])VALUES(2,CAST(N'2021-05-31T23:18:09.980'ASDateTime),818,13,339,67000,0,N'',67000)
INSERT[dbo].[Hoadon]([Id],[Date],[Id_khachhang],[Id_nhanvien],[Time_use],[Fee],[Extra_fee],[Description],[Total])VALUES(3,CAST(N'2021-06-02T00:46:45.390'ASDateTime),769,12,771,154000,0,N'',154000)
INSERT[dbo].[Hoadon]([Id],[Date],[Id_khachhang],[Id_nhanvien],[Time_use],[Fee],[Extra_fee],[Description],[Total])VALUES(4,CAST(N'2021-05-31T20:57:19.950'ASDateTime),559,9,102,20000,0,N'',20000)
INSERT[dbo].[Hoadon]([Id],[Date],[Id_khachhang],[Id_nhanvien],[Time_use],[Fee],[Extra_fee],[Description],[Total])VALUES(5,CAST(N'2021-06-01T11:41:03.480'ASDateTime),207,4,879,175000,0,N'',175000)
INSERT[dbo].[Hoadon]([Id],[Date],[Id_khachhang],[Id_nhanvien],[Time_use],[Fee],[Extra_fee],[Description],[Total])VALUES(6,CAST(N'2021-05-30T04:29:49.530'ASDateTime),4,9,604,120000,0,N'',120000)
INSERT[dbo].[Hoadon]([Id],[Date],[Id_khachhang],[Id_nhanvien],[Time_use],[Fee],[Extra_fee],[Description],[Total])VALUES(7,CAST(N'2021-06-02T03:17:19.830'ASDateTime),907,14,120,24000,0,N'',24000)
INSERT[dbo].[Hoadon]([Id],[Date],[Id_khachhang],[Id_nhanvien],[Time_use],[Fee],[Extra_fee],[Description],[Total])VALUES(8,CAST(N'2021-05-30T11:21:40.970'ASDateTime),443,7,563,112000,0,N'',112000)
INSERT[dbo].[Hoadon]([Id],[Date],[Id_khachhang],[Id_nhanvien],[Time_use],[Fee],[Extra_fee],[Description],[Total])VALUES(9,CAST(N'2021-05-30T15:15:40.070'ASDateTime),978,15,479,95000,0,N'',95000)
INSERT[dbo].[Hoadon]([Id],[Date],[Id_khachhang],[Id_nhanvien],[Time_use],[Fee],[Extra_fee],[Description],[Total])VALUES(10,CAST(N'2021-05-31T18:47:57.990'ASDateTime),274,5,499,99000,-20000,N'Magiamgia20k',79000)
INSERT[dbo].[Hoadon]([Id],[Date],[Id_khachhang],[Id_nhanvien],[Time_use],[Fee],[Extra_fee],[Description],[Total])VALUES(11,CAST(N'2021-05-31T01:25:21.320'ASDateTime),292,5,430,86000,0,N'',86000)
INSERT[dbo].[Hoadon]([Id],[Date],[Id_khachhang],[Id_nhanvien],[Time_use],[Fee],[Extra_fee],[Description],[Total])VALUES(12,CAST(N'2021-06-01T09:52:09.320'ASDateTime),468,8,851,170000,0,N'',170000)
INSERT[dbo].[Hoadon]([Id],[Date],[Id_khachhang],[Id_nhanvien],[Time_use],[Fee],[Extra_fee],[Description],[Total])VALUES(13,CAST(N'2021-05-30T16:17:50.060'ASDateTime),633,10,212,42000,100000,N'HACKGAME',142000)
INSERT[dbo].[Hoadon]([Id],[Date],[Id_khachhang],[Id_nhanvien],[Time_use],[Fee],[Extra_fee],[Description],[Total])VALUES(14,CAST(N'2021-05-30T20:32:22.610'ASDateTime),470,8,699,139000,0,N'',139000)
INSERT[dbo].[Hoadon]([Id],[Date],[Id_khachhang],[Id_nhanvien],[Time_use],[Fee],[Extra_fee],[Description],[Total])VALUES(15,CAST(N'2021-06-02T23:35:12.070'ASDateTime),983,15,90,18000,0,N'',18000)
INSERT[dbo].[Hoadon]([Id],[Date],[Id_khachhang],[Id_nhanvien],[Time_use],[Fee],[Extra_fee],[Description],[Total])VALUES(16,CAST(N'2021-05-30T17:34:32.890'ASDateTime),31,1,55,11000,0,N'',11000)
INSERT[dbo].[Hoadon]([Id],[Date],[Id_khachhang],[Id_nhanvien],[Time_use],[Fee],[Extra_fee],[Description],[Total])VALUES(17,CAST(N'2021-06-01T12:04:33.960'ASDateTime),863,13,799,159000,0,N'', 159000)
INSERT [dbo].[Hoadon] ([Id], [Date], [Id_khachhang], [Id_nhanvien], [Time_use], [Fee], [Extra_fee], [Description], [Total]) VALUES (18, CAST(N'2021-05-31T00:18:53.260' AS DateTime), 996, 15, 106, 21000, 0, N'', 21000)
INSERT [dbo].[Hoadon] ([Id], [Date], [Id_khachhang], [Id_nhanvien], [Time_use], [Fee], [Extra_fee], [Description], [Total]) VALUES (19, CAST(N'2021-06-02T10:59:23.740' AS DateTime), 678, 11, 852, 170000, 0, N'', 170000)
INSERT [dbo].[Hoadon] ([Id], [Date], [Id_khachhang], [Id_nhanvien], [Time_use], [Fee], [Extra_fee], [Description], [Total]) VALUES (20, CAST(N'2021-05-30T18:44:19.530' AS DateTime), 315, 5, 324, 64000, -20000, N'Ma giam gia 20k', 44000)
GO
INSERT [dbo].[Hoadon_thucan] ([Id], [Date], [Id_khachhang], [Id_nhanvien], [Total]) VALUES (1, CAST(N'2021-05-30T09:51:52.300' AS DateTime), 727, 11, 179000)
INSERT [dbo].[Hoadon_thucan] ([Id], [Date], [Id_khachhang], [Id_nhanvien], [Total]) VALUES (2, CAST(N'2021-06-02T19:31:35.610' AS DateTime), 818, 13, 119000)
INSERT [dbo].[Hoadon_thucan] ([Id], [Date], [Id_khachhang], [Id_nhanvien], [Total]) VALUES (3, CAST(N'2021-06-01T02:05:40.880' AS DateTime), 769, 12, 29000)
GO
INSERT [dbo].[Khachhang] ([Id], [Name], [Password], [Phone], [Id_maytinh], [Id_phongmay]) VALUES (1, N'Jeanine25', N'PZTPNU2N0T', N'0370155735 ', 218, 5)
INSERT [dbo].[Khachhang] ([Id], [Name], [Password], [Phone], [Id_maytinh], [Id_phongmay]) VALUES (2, N'Valerie', N'R78TXMBKDG', N'0939433957 ', 246, 8)
INSERT [dbo].[Khachhang] ([Id], [Name], [Password], [Phone], [Id_maytinh], [Id_phongmay]) VALUES (3, N'Roy5', N'DOWNBB44MZ', N'0975599483 ', 231, 8)
GO
INSERT [dbo].[Maytinh] ([Id], [Status], [Time_use], [Id_Phongmay]) VALUES (1, N'Using', 499, 11)
INSERT [dbo].[Maytinh] ([Id], [Status], [Time_use], [Id_Phongmay]) VALUES (2, N'Free', 155, 13)
INSERT [dbo].[Maytinh] ([Id], [Status], [Time_use], [Id_Phongmay]) VALUES (3, N'Using', 675, 10)
GO
INSERT [dbo].[Nhanvien] ([Id], [Name], [Id_Manager], [Gender], [Address], [Id_chinhanh]) VALUES (1, N'Maggie87', 1, N'Male', N'62 White Fabien Avenue', 3)
INSERT [dbo].[Nhanvien] ([Id], [Name], [Id_Manager], [Gender], [Address], [Id_chinhanh]) VALUES (2, N'Roger0', 2, N'Female', N'52 East Nobel Drive', 3)
INSERT [dbo].[Nhanvien] ([Id], [Name], [Id_Manager], [Gender], [Address], [Id_chinhanh]) VALUES (3, N'Rochelle', 3, N'Male', N'20 Oak Drive', 3)
GO
INSERT [dbo].[Phongmay] ([Id], [Typed], [Count], [Id_chinhanh]) VALUES (1, N'Gold', 20, 3)
INSERT [dbo].[Phongmay] ([Id], [Typed], [Count], [Id_chinhanh]) VALUES (2, N'Gold', 20, 3)
INSERT [dbo].[Phongmay] ([Id], [Typed], [Count], [Id_chinhanh]) VALUES (3, N'Diamond', 20, 3)
GO
INSERT [dbo].[Thucan] ([Id], [Name], [Price]) VALUES (1, N'Kathy38', 19000)
INSERT [dbo].[Thucan] ([Id], [Name], [Price]) VALUES (2, N'Shari64', 21000)
INSERT [dbo].[Thucan] ([Id], [Name], [Price]) VALUES (3, N'Erick738', 10000)
GO
ALTER TABLE [dbo].[Chinhanh]WITH CHECK ADDCONSTRAINT [chinhanh_fk] FOREIGN KEY([Id_district])
REFERENCES [dbo].[District] ([Id])
GO
ALTER TABLE [dbo].[Chinhanh] CHECK CONSTRAINT [chinhanh_fk]
GO
ALTER TABLE [dbo].[Chitiet_hoadon]WITH CHECK ADD FOREIGN KEY([Id_hoadon])
REFERENCES [dbo].[Hoadon_thucan] ([Id])
GO
ALTER TABLE [dbo].[Chitiet_hoadon]WITH CHECK ADD FOREIGN KEY([Id_thucan])
REFERENCES [dbo].[Thucan] ([Id])
GO
ALTER TABLE [dbo].[Hoadon]WITH CHECK ADDCONSTRAINT [hoadon_fk_kh] FOREIGN KEY([Id_khachhang])
REFERENCES [dbo].[Khachhang] ([Id])
GO
ALTER TABLE [dbo].[Hoadon] CHECK CONSTRAINT [hoadon_fk_kh]
GO
ALTER TABLE [dbo].[Hoadon]WITH CHECK ADDCONSTRAINT [hoadon_fk_nv] FOREIGN KEY([Id_nhanvien])
REFERENCES [dbo].[Nhanvien] ([Id])
GO
ALTER TABLE [dbo].[Hoadon] CHECK CONSTRAINT [hoadon_fk_nv]
GO
ALTER TABLE [dbo].[Hoadon_thucan]WITH CHECK ADDCONSTRAINT [hoadon_thucan_fk_kh] FOREIGN KEY([Id_khachhang])
REFERENCES [dbo].[Khachhang] ([Id])
GO
ALTER TABLE [dbo].[Hoadon_thucan] CHECK CONSTRAINT [hoadon_thucan_fk_kh]
GO
ALTER TABLE [dbo].[Hoadon_thucan]WITH CHECK ADDCONSTRAINT [hoadon_thucan_fk_nv] FOREIGN KEY([Id_nhanvien])
REFERENCES [dbo].[Nhanvien] ([Id])
GO
ALTER TABLE [dbo].[Hoadon_thucan] CHECK CONSTRAINT [hoadon_thucan_fk_nv]
GO
ALTER TABLE [dbo].[Khachhang]WITH CHECK ADDCONSTRAINT [khachhang_fk] FOREIGN KEY([Id_maytinh], [Id_phongmay])
REFERENCES [dbo].[Maytinh] ([Id], [Id_Phongmay])
GO
ALTER TABLE [dbo].[Khachhang] CHECK CONSTRAINT [khachhang_fk]
GO
ALTER TABLE [dbo].[Maytinh]WITH CHECK ADD FOREIGN KEY([Id_Phongmay])
REFERENCES [dbo].[Phongmay] ([Id])
GO
ALTER TABLE [dbo].[Nhanvien]WITH CHECK ADD FOREIGN KEY([Id_chinhanh])
REFERENCES [dbo].[Chinhanh] ([Id])
GO
ALTER TABLE [dbo].[Nhanvien]WITH CHECK ADD FOREIGN KEY([Id_Manager])
REFERENCES [dbo].[Nhanvien] ([Id])
GO
ALTER TABLE [dbo].[Phongmay]WITH CHECK ADD FOREIGN KEY([Id_chinhanh])
REFERENCES [dbo].[Chinhanh] ([Id])
GO
